.cm-hashtag,
.cm-formatting-hashtag,
.tag {
  font-size: 16px;
}

.cm-hashtag:hover,
.cm-formatting-hashtag:hover,
.cm-formatting-hashtag:active,
.cm-formatting-hashtag:active,
.tag:hover,
.tag:active {
  font-style: italic;
  font-weight: 500;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
