.cm-hashtag,
.cm-formatting-hashtag,
.tag {
  font-size: 16px;
}

.cm-hashtag:hover,
.cm-formatting-hashtag:hover,
.cm-formatting-hashtag:active,
.cm-formatting-hashtag:active,
.tag:hover,
.tag:active {
  font-style: italic;
  font-weight: 500;
}
