@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

.theme-light {
  .inline-title {
    transition: all 1s ease-out;
  }

  .inline-title:hover {
    text-shadow: 0.8rem 1.6rem 3.2rem rgba(0, 0, 128, 0.5);
    font-style: italic;
  }

  /* Enhanced heading styling with subtle gradients */
  .cm-header-1,
  .el-h1 h1 {
    /* display: inline-block; */
    font-weight: 400;
    font-optical-sizing: auto;
    letter-spacing: normal;
  }

  .cm-header-2,
  .el-h2 h2 {
    font-weight: 400;
    letter-spacing: normal;
  }

  .cm-header-3,
  .el-h3 h3,
  .cm-header-4,
  .el-h4 h4,
  .cm-header-5,
  .el-h5 h5,
  .cm-header-6,
  .el-h6 h6 {
    letter-spacing: normal;
  }

  .cm-header-1.cm-inline-code,
  .cm-header-2.cm-inline-code,
  .cm-header-3.cm-inline-code,
  .cm-header-4.cm-inline-code,
  .cm-header-5.cm-inline-code,
  .cm-header-6.cm-inline-code {
    font-size: smaller !important;
  }
}

[class^="hltr-"],
.cm-highlight,
.has-list-bullet mark {
  font-family: "Lora" !important;
  font-style: italic;
}

a.cm-underline,
.external-link,
.internal-link {
  font-family: "Fira Sans" !important;
  font-style: italic !important;
}

.view-header-breadcrumb,
.view-header-breadcrumb-separator {
  font-family: "Sora" !important;
  font-size: larger !important;
}

.view-header-title {
  font-family: "Lora" !important;
  font-size: larger !important;
}

ul.has-list-bullet {
  margin-block-start: 0;
  margin-block-end: 0;
}

.cm-line [class^="cm-list-"],
ul.has-list-bullet {
  line-height: 1.65 !important;
}

.callout-title {
  font-family: "Lora";
}

.callout-content {
  font-family: "Fira Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0.25em;
  margin-block-start: 0.25em;
}
