.theme-light {
  /* Enhanced heading styling with subtle gradients */

  .cm-header-1.cm-inline-code,
  .cm-header-2.cm-inline-code,
  .cm-header-3.cm-inline-code,
  .cm-header-4.cm-inline-code,
  .cm-header-5.cm-inline-code,
  .cm-header-6.cm-inline-code {
    font-size: smaller !important;
  }
}

body {
  font-feature-settings: "cvXX" 1, "cv10" 1, "cv08" 1, "cv05" 1, "ss03" 1, "ss07" 1, "ss08" 1;
  /* font-weight: 500; */
}

[class^="hltr-"],
.cm-highlight,
.has-list-bullet mark {
  font-family: "Source Serif 4 Caption", "Source Serif 4" !important;
  font-style: italic;
  font-weight: 600;
}


/* a.cm-underline,
.external-link,
.internal-link {
  font-family: "Fira Sans" !important;
  font-style: italic !important;
} */

/* .view-header-breadcrumb,
.view-header-breadcrumb-separator {
  font-family: "Sora" !important;
  font-size: larger !important;
} */

/* .view-header-title {
  font-family: "Lora" !important;
  font-size: larger !important;
} */

ul.has-list-bullet {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* .cm-line [class^="cm-list-"],
ul.has-list-bullet {
  line-height: 1.65 !important;
} */

/* .callout-title {
  font-family: "Lora";
} */

/* .callout-content {
  font-family: "Fira Sans";
} */


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0.1em;
  margin-block-start: 0.1m;
}